@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="card account-card shadow bg-body rounded">
    <h5 class="account-card-title">@ViewBag.Title</h5>
    <h6 class="account-card-subtitle">Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h6>
</div>
