@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="container py-4">
        <div class="p-5 mb-4 shadow bg-white rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold text-success">Access Impact</h1>
                <p class="col-md-8 fs-4">At Access Impact, we help improve project implementation and maintenance processes and activities by ensuring that there is internal and external accountability for the resources used and the results obtained.</p>
                <button class="btn btn-success btn-lg myBorderradius" type="button">Create a survey</button>
            </div>
        </div>

        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-success rounded-3">
                    <h2>Data-Driven Decisions</h2>
                    <p class="">Access Impact enables project implementers to make informed decisions on the future of the implementation, operations and maintenance initiatives.</p>
                    <button class="btn btn-outline-light myBorderradius" type="button">Manage surveys</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3 shadow">
                    <h2>Project Development</h2>
                    <p>Access Impact strives to promote the continued empowerment and development of the implementers and the beneficiaries of the accessed project initiatives.</p>
                    <button class="btn btn-outline-secondary myBorderradius" type="button">Join a survey</button>
                </div>
            </div>
        </div>
    </div>
</div>

